#elements{display: flex; height: 90vh;}

#presentation{
  display: flex;
  margin-top: 350px;
  transform: translateX(50px);
  width: 3000px;}

#elements > img {
    align-self: end;
    max-width: 20%;
    transform: translateX(-275px);}
