#elements{display: flex; height: 90vh;}

#presentation{color: white;
  display: flex;
  margin-top: 300px;
  transform: translateX(50px);}

#elements > img {
    align-self: end;
    max-width: 20%;
    margin-left: 490px;
    margin-bottom: 55px;}
