/* ----------------------- général -------------------------*/
#projets{margin-top: 350px;}


/* -----------------------texte présentation -------------------------*/
#texte{
  width: 1200px;
  margin: auto;
  padding-bottom: 70px;}



/* ----------------------- carrés projets -------------------------*/
.proj{display: flex;}
.carre{width: calc(100vw/5); height: 450px;}

div.carre > a > p {
    margin: 50% auto; padding: 20px;
    text-align: center;}

.proj > .carre:nth-child(1) {background: #4947B8;}
.proj > .carre:nth-child(2) {background: #6B69D8;}
.proj > .carre:nth-child(3) {background: #4340C4;}
.proj > .carre:nth-child(4) {background: #34328D;}
.proj > .carre:nth-child(5) {background: #3535B4;}

/*image chainazik*/
.festival{
  background-image: url(../images/projets/chaina.jpg) !important;
  background-repeat: no-repeat;
  opacity: 0.5;}

/*image com*/
.communication{
  background-image: url(../images/projets/com.jpg) !important;
  background-repeat: no-repeat;
  opacity: 0.5;
  color: black;}

/*image afs*/
.international{
  background-image: url(../images/projets/afs.png) !important;
  background-repeat: no-repeat;
  opacity: 0.5;}

/*image efficience*/
.psychologie{
  background-image: url(../images/projets/efficience.jpg) !important;
  background-repeat: no-repeat;
  opacity: 0.5;}

/*image poney*/
.equestre{
  background-image: url(../images/projets/poney.jpg) !important;
  background-repeat: no-repeat;
  opacity: 0.5;}
